# needs fzf enabled
vf() {
  nvim $(fzf)
}

set VIM_DEFAULT=vim

alias gitgraph='git log --graph --pretty="%C(Yellow)%h  %C(reset)%ad (%C(Green)%cr%C(reset))%x09 %C(Cyan)%an: %C(reset)%s" --date=short'

alias gc='bash ~/.scratch/git_commit.sh'
alias gcp='bash ~/.scratch/git_commit_prev_ticket.sh'
alias cb='bash ~/.scratch/checkout-branch.sh'

alias lvim=~/.local/bin/lvim

alias rd='yarn run dev'
alias rt='yarn run test:unit'

alias gtn='cd ~/workspace/nuclei/'
alias gtncl='cd ~/workspace/nuclei/'

alias gtcl='cd ~/workspace/pdl-web-frontend-prism-client/'
alias gtsho='cd ~/workspace/pdl-web-frontend-prism-client/doc/alaska/shop/'

alias vncl="cd ~/workspace/nuclei && nvim"

alias nv='nvim'

alias v='nvim'

alias source.='source ~/.zshrc'
alias sredo='sudo !!'
alias v='vim .'
alias vimrc='vim ~/.vimrc'
alias zshrc='vim ~/.zshrc'


alias srch='bash ~/.scratch/scripts/srch.sh'
